<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiscent - Products</title>
    <link
      rel="stylesheet"
      href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="icon" href="/images/logo.png" />

    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/quantity.css" />

    <script src="/js/product.js" defer></script>
  </head>
  <body>
    <header></header>
    <ul class="tabs">
      <li>
        <a href="/home" class="goBack">
          <img
            src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/ffffff/external-arrow-left-arrows-flatart-icons-outline-flatarticons-4.png"
          /><span id="goBackLen">Go Back</span>
        </a>
      </li>
      <li data-tab-target="#flowers" class="active tab" id="flowersLen">
        Flowers
      </li>
      <li data-tab-target="#bouquets" class="tab" id="bouquetsLen">Bouquets</li>
      <li data-tab-target="#vases" class="tab" id="vasesLen">Vases</li>
    </ul>

    <div class="tab-content">
      <div id="flowers" data-tab-content class="active">
        <div class="container">
          <% for(let i = 0; i < flowers.length; i++) { %>

          <form
            class="card"
            action="/place-order/flowers/<%= flowers[i]._id %>"
            method="post"
          >
            <div class="imgBx">
              <img
                src="/upload/images/flowers/<%= flowers[i].uploadedFile %>"
              />
            </div>
            <input
              type="text"
              name="type"
              value="flowers"
              style="display: none"
            />
            <div class="content">
              <div class="productName">
                <h3><%= flowers[i].name %></h3>
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus" /><input
                    type="number"
                    step="1"
                    min="1"
                    max=""
                    name="quantity"
                    value="1"
                    title="Qty"
                    class="input-text qty text"
                    size="4"
                    pattern=""
                    inputmode=""
                  /><input type="button" value="+" class="plus" />
                </div>
              </div>
              <div class="price_rating">
                <h2><%= flowers[i].price %> AED</h2>

                <div class="action_links">
                  <ul>
                    <li class="add_to_cart">
                      <button
                        type="submit"
                        title="Add to Cart"
                        class="addToCartLen"
                      >
                        Add to Cart
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
          <% } %>
        </div>
      </div>
      <div id="bouquets" data-tab-content>
        <div class="container">
          <% for(let i = 0; i < bouquets.length; i++) { %>
          <form
            class="card"
            action="/place-order/bouquets/<%= bouquets[i]._id %>"
            method="post"
          >
            <div class="imgBx">
              <img
                src="/upload/images/bouquets/<%= bouquets[i].uploadedFile %>"
              />
            </div>
            <input
              type="text"
              value="bouquets"
              name="type"
              style="display: none"
            />
            <div class="content">
              <div class="productName">
                <h3><%= bouquets[i].name %></h3>
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus" /><input
                    type="number"
                    step="1"
                    min="1"
                    max=""
                    name="quantity"
                    value="1"
                    title="Qty"
                    class="input-text qty text"
                    size="4"
                    pattern=""
                    inputmode=""
                  /><input type="button" value="+" class="plus" />
                </div>
              </div>

              <div class="price_rating">
                <h2><%= bouquets[i].price %> AED</h2>
                <div class="action_links">
                  <ul>
                    <li class="add_to_cart">
                      <button
                        type="submit"
                        title="Add to Cart"
                        class="addToCartLen"
                      >
                        Add to Cart
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
          <% } %>
        </div>
      </div>

      <div id="vases" data-tab-content>
        <div class="container">
          <% for(let i = 0; i < vases.length; i++) { %>
          <form
            class="card"
            action="/place-order/vases/<%= vases[i]._id %>"
            method="post"
          >
            <div class="imgBx">
              <img src="/upload/images/vases/<%= vases[i].uploadedFile %>" />
            </div>
            <input
              type="text"
              value="vases"
              name="type"
              style="display: none"
            />
            <div class="content">
              <div class="productName">
                <h3><%= vases[i].name %></h3>
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus" /><input
                    type="number"
                    step="1"
                    min="1"
                    max=""
                    name="quantity"
                    value="1"
                    title="Qty"
                    class="input-text qty text"
                    size="4"
                    pattern=""
                    inputmode=""
                  /><input type="button" value="+" class="plus" />
                </div>
              </div>
              <div class="price_rating">
                <h2><%= vases[i].price %> AED</h2>
                <div class="action_links">
                  <ul>
                    <li class="add_to_cart">
                      <button
                        type="submit"
                        title="Add to Cart"
                        class="addToCartLen"
                      >
                        Add to Cart
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>

    <div class="copyright_area">
      <p>
        Copyright &copy; 2022 <a href="/home">Hiscent Flower</a> All rights
        Reserved.
      </p>

      <ul>
        <li>
          <a
            href="https://www.instagram.com/hiscent_flower/"
            target="_blank"
            style="display: flex; align-items: center; justify-content: center"
            ><img
              width="25px"
              height="25px"
              src="https://img.icons8.com/ios-glyphs/30/ffffff/instagram-new.png"
          /></a>
        </li>
        <li></li>
        <li>
          <a
            href="https://wa.me/+971566723221"
            target="_blank"
            style="display: flex; align-items: center; justify-content: center"
            ><img
              width="25px"
              height="25px"
              src="https://img.icons8.com/fluency-systems-filled/48/ffffff/whatsapp.png"
          /></a>
        </li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/quantity.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/languageProduct.js"></script>
  </body>
</html>
